//COLOURS
$background-color: #01c298;
$products-wrapper-background: #037f643d;

$product-image-border-color: black;
$hover-product-image-border-color: red;
$add-to-cart-button-background: white;
$hover-add-to-cart-button-background: #f8e16c;
$hover-add-to-cart-button-border: rgb(44, 80, 208);

$item-counter-background: #037f64;
$item-color-text: white;

$cart-wrapper-background: #037f64;
$add-remove-cart-background-btn: #0dbf99;
$even-item-list-background: rgba(5, 166, 131, 0.671);
$close-cart-btn-color: rgb(14, 79, 55);
