//COLOURS
$background-color: #01c298;
$products-wrapper-background: #037f643d;

$product-image-border-color: black;
$hover-product-image-border-color: red;
$add-to-cart-button-background: white;
$hover-add-to-cart-button-background: #f8e16c;
$hover-add-to-cart-button-border: rgb(44, 80, 208);

$item-counter-background: #037f64;
$item-color-text: white;

$cart-wrapper-background: #037f64;
$add-remove-cart-background-btn: #0dbf99;
$even-item-list-background: #05a683ab;
$close-cart-btn-color: #0e4f37;

$scroll-bar-background: #0dbf99;
$scroll-bar-color: #068066;
$scroll-bar-border-color: #0dbf99;
$scroll-bar-hover-color: #0b9073;
