* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #01c298;
}
body main {
  width: 90%;
  padding: 3rem;
}
body main .products-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(3, 127, 100, 0.2392156863);
  padding: 2rem;
}
body main .products-wrapper .product-card-box {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
body main .products-wrapper .product-card-box .product-card {
  display: flex;
  flex-direction: column;
}
body main .products-wrapper .product-card-box .product-card .product-card-image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .products-wrapper .product-card-box .product-card .product-card-image img {
  width: 200px;
  height: 200px;
  border: 5px solid black;
}
body main .products-wrapper .product-card-box .product-card .product-card-image:hover {
  border-color: red;
}
body main .products-wrapper .product-card-box .product-card .add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  width: 125px;
  height: 40px;
  border: 5px solid black;
  border-radius: 2rem;
  background-color: white;
  gap: 0.5rem;
  cursor: pointer;
}
body main .products-wrapper .product-card-box .product-card .add-to-cart-btn:hover {
  background-color: #f8e16c;
  border-color: rgb(44, 80, 208);
}
body main .products-wrapper .product-card-box .product-card .add-to-cart-btn img {
  width: 20px;
  height: 20px;
  border: none;
}
body main .products-wrapper .product-card-box .product-card .product-text {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
body main .products-wrapper .product-card-box .product-card .product-text .product-name {
  text-transform: uppercase;
}
body main .products-wrapper .product-card-box .product-card .product-text .product-price {
  font-weight: bold;
}
body main .products-wrapper .cart-icon {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
body main .products-wrapper .cart-icon img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
body main .products-wrapper .cart-icon .item-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
  border: 2px solid black;
  color: white;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1rem;
  top: 35px;
  right: -10px;
}

.cart-wrapper {
  width: 400px;
  max-height: 600px;
  background-color: #037f64;
  position: fixed;
  inset: 0 -400px 0 auto;
  transition: 0.5s;
  margin: auto 0;
  border: 5px solid black;
  overflow: hidden;
}
.cart-wrapper .cart-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}
.cart-wrapper .cart-header img {
  width: 40px;
  height: 40px;
}
.cart-wrapper .cart-header p {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.cart-wrapper .cart-header .close-btn {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(14, 79, 55);
}
.cart-wrapper .cart-items-list {
  overflow: auto;
  max-height: 600px;
}
.cart-wrapper .cart-items-list .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-wrapper .cart-items-list .cart-item:nth-child(even) {
  background-color: rgba(5, 166, 131, 0.671);
}
.cart-wrapper .cart-items-list .cart-item img {
  width: 50px;
  height: 50px;
  margin: 0.5rem 0 0.5rem 1rem;
}
.cart-wrapper .cart-items-list .cart-item .add-remove-box {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  text-align: center;
  padding-right: 1rem;
}
.cart-wrapper .cart-items-list .cart-item .add-remove-box .add-item,
.cart-wrapper .cart-items-list .cart-item .add-remove-box .remove-item {
  width: 30px;
  height: 30px;
  background-color: #0dbf99;
  border-radius: 50%;
  cursor: pointer;
}
.cart-wrapper .cart-items-list .show-cart-item {
  display: none;
}

.add-to-cart-options {
  font-size: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.add-to-cart-options .add-item,
.add-to-cart-options .remove-item {
  padding: 0 8px;
}

.show-cart {
  inset: 0 0 0 auto;
}/*# sourceMappingURL=style.css.map */